<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mental Health Prediction</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
        <link rel="icon" href="static/images/ribbon.png" type="image/ico">
    </head>
<body>
    <center>
        <div class="noDisorder">
            <h1>No Mental Health Disorder Detected</h1>
            <p>Your responses indicate that there is no evidence of a mental health disorder.</p>
            <a class="dialog-box-back-button" href="/">Go back</a>
        </div>
    </center>
</body>
</html>